footer.map__footer.footer
    .footer__row.footer__row-top
        .footer__col.footer__col-left
            .footer__content
                .footer__text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. 
        .footer__col.footer__col-center
            .footer__content
                nav.menu.menu-about
                    ul.menu__list 
                        li.menu__item-clear
                            +link('my-works.html', 'Мои работы')(class="menu__link menu__link--white") 
                        li.menu__item-clear
                            +link('about.html', 'Обо мне')(class="menu__link menu__link--white") 
                        li.menu__item-clear
                            +link('blog.html', 'Блог')(class="menu__link menu__link--white") 
                        li.menu__item-clear
                            +link('#', 'Авторизация')(class="menu__link menu__link--white") 
                ul.socials.socials_rounded.socials--left
                    each item in ['vk', 'github', 'in']
                        li.socials__item
                            a(href="" class=`socials__item socials__item_${item}`)
                                svg.socials__icon.socials__icon--white
                                    use(xlink:href=`assets/images/sprite.svg#${item}`)
        .footer__col.footer__col-right
            .footer__content
                .footer__data
                    p nldrummer
                    p inkatsoy08@gmail.com
                    p +7707 170 85 30
                    p Караганда
    .footer__row.footer__row-bottom
        .rights.rights-clear &copy; Цой Инна | создано с любовью в LoftSchool | 2017