section.section.hero
    header.header
        .hero__socials
            ul.socials
                each item in ['vk', 'github', 'in']
                    li.socials__item
                        a(href="" class=`socials__item socials__item_${item}`)
                            svg.socials__icon.socials__icon--white
                                use(xlink:href=`assets/images/sprite.svg#${item}`)
        .hamburger__menu
            a.hamburger__menu-link#hamburger__menu-link(href='#')
                .hamburger__bars
    .hero__title
        .section-title
            svg.section-title__icon
                use(xlink:href=`assets/images/sprite.svg#stars1`)
        .user.hero__user
            .user__pic
                img.user__pic-img(src="assets/images/ava.jpg")
            .user__description
                .user__name.user__name--big Цой Инна
                .user__info Личный сайт разработчика
    .arrow-down.hero__scroll-btn
        svg.arrow-down__icon
            use(xlink:href=`assets/images/sprite.svg#arrow_down`)