extends ../template

block variables
    - var title = 'Блог'

block content
    .wrapper
        section.section.hero.hero-blog
            header.header
                .hero__socials
                    ul.socials
                        each item in ['vk', 'github', 'in']
                            li.socials__item
                                a(href="" class=`socials__item socials__item_${item}`)
                                    svg.socials__icon.socials__icon--white
                                        use(xlink:href=`assets/images/sprite.svg#${item}`)
                button.hamburger-menu.cmn-toggle-switch.cmn-toggle-switch__htx
                    span.hamburger-menu__bars toggle menu
            .hero__title
                .user.hero__user
                    .user__pic
                        img.user__pic-img(src="assets/images/ava.jpg")
                    .user__description
                        .user__name.user__name--big БЛОГ
                        .user__info Статьи, которые я написала
        main.section.blog
            aside.article-titles
                ul.article-titles__list
                    li.article-titles__item.article-titles__item--active
                        a.article-titles__link
                            span.article-titles__text Самое важное в SASS
                    li.article-titles__item
                        a.article-titles__link
                            span.article-titles__text Приёмы в вёрстке, без которых не обходится ни один сайт
                    li.article-titles__item
                        a.article-titles__link
                            span.article-titles__text Самый необходимый набор Gulp плагинов
                    li.article-titles__item
                        a.article-titles__link
                            span.article-titles__text Почему я выбрала Jade
            .articles
                article.open-articles__item#article-1
                    .open-articles__title Самое важное в SASS
                    .open-articles__date 22 ноября 2016
                    .open-articles__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                article.open-articles__item#article-2
                    .open-articles__title Приёмы в вёрстке, без которых не обходитсяни один сайт
                    .open-articles__date 13 ноября 2016
                    .open-articles__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                article.open-articles__item#article-3
                    .open-articles__title Самый необходимый набор Gulp плагинов
                    .open-articles__date 5 ноября 2016
                    .open-articles__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                article.open-articles__item#article-4
                    .open-articles__title Почему я выбрала Jade
                    .open-articles__date 1 ноября 2016
                    .open-articles__content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        include ../common/footer.pug