.hero{
    background: url(../images/hero-bg.jpg) center center no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: rem(80px) 1fr rem(100px);
    grid-template-areas: 
        "header"
        "content"
        "bottom";
    grid-gap: rem(10px) rem(20px);
}
.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    margin: rem(20px);
}

.hero__title{
    grid-area: content;
}

.arrow-down{
    grid-area: bottom;
    display: flex;
    justify-content: center;
}
.arrow-down__icon{
    cursor: pointer;
}
.socials__icon--white{
    fill: $white;
}

//hamburger
// .hamburger-menu{
//     position: absolute;
//     top: 3%;
//     right: 3%;
// }

// .hamburger-menu__btn{
//     position: relative;
// }

// .hamburger-menu__bars {
// 		background: $white;
// 		width: rem(40px);
// 		height: rem(5px);
// 		border-radius: rem(3px);
// 		content: "";
// 		display: block;
// 		position: absolute;
// }

// .hamburger__menu-link.is-active .hamburger__bars{
//     background: transparent;
//     &:before {
//       transform: translateY(rem(10px)) translateX(0) rotate(45deg);
//       border-radius: rem(5px); 
//     }

//     &:after {
//       transform: translateY(rem(-7px)) translateX(0) rotate(-45deg);
//       border-radius: rem(5px); 
//     }
//   }

.cmn-toggle-switch {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: rem(40px);
    height: rem(40px);
    font-size: 0;
    text-indent: rem(-9999px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
            transition: background 0.3s;
  }
   
  .cmn-toggle-switch:focus {
    outline: none;
  }

  .cmn-toggle-switch span {
    display: block;
    position: absolute;
    background: white;
    width: rem(40px);
    height: rem(5px);
	border-radius: rem(3px);
  }
   
  .cmn-toggle-switch span::before,
  .cmn-toggle-switch span::after {
    position: absolute;
    display: block;
    width: rem(40px);
    height: rem(5px);
	border-radius: rem(3px);
    background-color: #fff;
    content: "";
  }
   
  .cmn-toggle-switch span::before {
    top: rem(-15px);
  }
   
  .cmn-toggle-switch span::after {
    bottom: rem(-15px);
  }


  /**
 * Style 2
 */
.cmn-toggle-switch__htx {
    background-color: transparent;
  }
   
  .cmn-toggle-switch__htx span {
    -webkit-transition: background 0 0.3s;
            transition: background 0 0.3s;
  }
   
  .cmn-toggle-switch__htx span::before,
  .cmn-toggle-switch__htx span::after {
    -webkit-transition-duration: 0.3s, 0.3s;
            transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0;
            transition-delay: 0.3s, 0;
  }
   
  .cmn-toggle-switch__htx span::before {
    -webkit-transition-property: top, -webkit-transform;
            transition-property: top, transform;
  }
   
  .cmn-toggle-switch__htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
            transition-property: bottom, transform;
  }
   
  /* active state*/
  .cmn-toggle-switch__htx.active {
    background-color: transparent;
  }
   
  .cmn-toggle-switch__htx.active span {
    background: none;
  }
   
  .cmn-toggle-switch__htx.active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
   
  .cmn-toggle-switch__htx.active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
   
  .cmn-toggle-switch__htx.active span::before,
  .cmn-toggle-switch__htx.active span::after {
    -webkit-transition-delay: 0, 0.3s;
            transition-delay: 0, 0.3s;
  }




.hero__title{
    position: relative;
    display: flex;
    justify-content: center;
}

.section-title, .hero__user{
    position: absolute;
}

.user__name--big{
    font-size: rem(35px);
}

.hero__user{

    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        min-width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        opacity: .1;
        width: rem(480px);
        height: rem(280px);
        background-image: url(../../assets/images/icons/stars1.svg);
        }
}

.arrow-down__icon{
    width: rem(30px);
    height: rem(20px);
    fill: rgba($white, .7);
    transition: .3s;
    &:hover{
        fill: $white;
    }
}
.about{
    width: 100%;
    &::before{
      position: absolute;
      content: "";
      top: -7%;
      left: 0;
      width: 50%;
      height: 7%;
      background: linear-gradient(to top right,$beige 0%,$beige 50%,transparent calc(50% + 1px),transparent 100%);
    }
    
    &::after{
      position: absolute;
      content: "";
      top: -7%;
      right: 0;
      width: 50%;
      height: 7%;
      background: linear-gradient(to top left,$white 0%,$white 50%,transparent calc(50% + 1px),transparent 100%);

      @include tablets{
        background: linear-gradient(to top left,$beige 0%,$beige 50%,transparent calc(50% + 1px),transparent 100%);
      }
    }

    @include tablets{
        flex-direction: column;
    }
  }

.about__left, .about__right{
    width: 50%;
    padding: 0 rem(90px);

    @include tablets{
        width: 100%;
    }
}
.about__left{
    background: $beige;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.about__right{
    background: $white;

    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.about__left-title{
    margin-bottom: rem(50px);
    position: relative;
}

.about__right-title{
    @include tablets{
        padding-top: rem(50px);    
    }
}

.about__right-text{
    @include tablets{
        text-align: center;   
    }
}

.about__right-title{
    padding-top: rem(50px);
}

.block-title__cover{

    &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: .1;
    height: rem(125px);
    background-image: url(../../assets/images/icons/stars2.svg);
    }
}

.block-title{
    font-family: Sansus Webissimo;
    font-weight: normal;
    font-style: normal;
    color: $dirty;
    font-size: rem(63px);
}

.about-title__icon{
    fill: transparent;
    stroke: rgba($light-blue, .1);
    width: rem(220px);
    height: rem(130px);
    transform: rotate(180deg);
}

.user-description__image{
    margin-bottom: rem(40px);
}

.user-description__avatar{
    vertical-align: middle;
    max-height: 80%;
    max-width: 80%;
}

.user-description__title{
    margin-bottom: rem(30px); 
}

.block-subtitle{
    font-family: Sansus Webissimo;
    font-weight: normal;
    font-style: normal;
    color: $dirty;
    position: relative;
    font-size: rem(35px);
    text-transform: uppercase;
    padding-bottom: rem(20px);   
    text-align: center;

    &::after{
        width: rem(89px);
        height: rem(3px);
        background: $dirty;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        transform: translateX(-50%);
    }
}

.text-content{
    text-align: left;
    line-height: rem(24px);
    color: $dirty;
}

.about__right-content{
    padding-left: rem(40px);
}

.skills-row{
    margin-bottom: rem(40px);
}

.skills-row__title{
    font-size: rem(28px);
    color: $dirty;
    font-weight: 500;
    font-style: normal;
    margin-bottom: rem(15px);
}

.skills-row__list{
    display: flex;
}

.skill__title{
    font-size: rem(12.5px);
    color: $dark-blue;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.skills-row__item{
    position: relative;
    width: rem(110px);
    margin-right: rem(38px);
}

.skill__circle{
    fill: none;
    stroke-width: 20;
}

.circle__first{
    stroke: $gray;
}

.circle__second{
    stroke: rgba($light-blue, .9);
}

#map {
    display: flex;
    width: 100%;
    height: rem(950px);
}

.contacts{
    width: rem(580px);
    height: rem(295px);
    background: rgba($white, .7);

    @include iphone5{
        width: 100%;
        height: 40%;
        top: 20%;
    }
}

.contacts__title{
    margin: rem(30px);
}

.contacts__list{
    column-count: 2;
    display: inline-block;

    @include iphone5{
        display: flex;
        flex-direction: column;
    }
}

.contacts__item{
    margin-bottom: rem(30px);
    @include iphone5{
        margin-bottom: rem(15px);
    }
}

.contacts-row{
    display: flex;
}

.contacts-row__icon{
    width: rem(45px);
    height: rem(45px);
    fill: $light-blue;
    margin-right: rem(15px);
}

.contacts-row__content{
    color: rgba($dirty, .8);
    font-weight: 500;
    font-style: normal;
    line-height: 3;
}

.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    color: $white;
}

.map__footer{
    position: absolute;
}

.footer__row-top{
    background: rgba($dark, .85);
    display: flex;
    justify-content: space-around;
    padding: rem(30px) 0;

    @include tablets{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "top top"
            "bottom bottom";
        padding: 0;
    }
    @include iphone5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        align-content: center;
    }
}

.footer__col{
    width: 100%;
    padding: 0 rem(30px);
    border-right: 1px solid rgba($white, .2)
}

.footer__col-left{
    @include tablets{
        grid-area: top;
        text-align: center;
        border-right: none;
    }
}

.footer__col-center{
    @include tablets{
        border-right: none;
    }
    @include iphone5{
        padding: 0;
        text-align: center;
    }
}

.footer__col-right{
    @include tablets{
        text-align: right;
        border-right: none;
    }
    @include iphone5{
        padding: 0;
        text-align: center;
    }
}

.footer__text, .footer__data{
    font-weight: 300;
    font-style: normal;

    @include iphone5{
        padding: rem(10px);
    }
}

.footer__text{
    @include tablets{
        padding-top: rem(30px);
    }
}

.socials--left{
    @include tablets{
        justify-content: flex-start;
    }
    @include iphone5{
        justify-content: center;
    }
}
.menu-about{
    margin-bottom: rem(40px);
    @include iphone5{
        margin-bottom: rem(20px);
    }
}

.menu__item-clear{
    font-weight: 500;
    font-style: normal;
    
}

.menu__link--white{
    transition: .2s;
    &:hover{
        color: $light-blue; 
    }
}

.footer__data p{
    margin: 0;
    line-height: 1.5;
}


.footer__row-bottom{
    background: rgba($dark-blue, .85);
    padding: rem(10px);
    display: flex;
    justify-content: center;
}

.rights-clear {
    padding: 0;
}

//dark menu

.dark-menu {
    position: absolute;
    left: rem(-9999px);
    right: 0;
    background: rgba($dark-blue, .85);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10;
}

.nav_hamburger {
    width: auto;
}

.nav__link{
    margin-bottom: rem(30px);
    font-family: Sansus Webissimo;
    font-weight: normal;
    font-style: normal;
    color: $white;
    font-size: rem(63px);
    text-transform: uppercase;
    text-align: center;
}

.dark-menu.is-active {
    display: flex;
    opacity: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}