.block{
    width: 100%;
	height: 100%;
    position: relative;
    overflow: hidden;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: rem(20px);

    @include phones{
        justify-content: center;
    }
}

.auth-btn{
    color: $white;
    padding: rem(10px) rem(20px);
    background: none;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    transition: .3s;
    outline: none;
    opacity: 1;

    &:hover{
        background: $dark-blue;
        border-color: transparent;
    }
}

.center{
    width: rem(350px);
    background: rgba(#19263f, .5);
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(30px);
}

.user__pic{
    width: rem(150px);
    height: rem(150px);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: rem(20px);
    z-index: 10;
}

.user__pic-img{
    vertical-align: middle;
    max-height: 140%;
    max-width: 120%;
}

.user__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
}

.user__name{
    font-size: rem(28px);
    font-weight: 500;
    font-style: normal;
}

.user__info{
    color:rgba($white, .8);
}

.welcome-socials{
    margin-bottom: rem(35px);
}

.socials{
    display: flex;
    justify-content: center;
}

.socials__item{
    margin-right: rem(25px);

    &:last-child{
        margin-right: 0;
    }
}


.socials__icon{
    width: rem(30px);
    height: rem(30px);
    transition: .3s;
    fill: rgba($light-blue, .7);
    cursor: pointer;

    &:hover{
        fill:$light-blue;
    }
}

.menu__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu__item{
    text-align: center;
    flex-grow: 1;
    padding: rem(15px) rem(10px);
    background: $light-blue;
    border-right: 2px solid rgba($white, .5);
    cursor: pointer;
    transition: .3s;

    &:hover{
        background: rgba($light-blue, .85);
    }

    &:last-child{
        border-right: none;
    }
}

.menu__link{
    text-decoration: none;
    color: $white;
    font-weight: 500;
    font-style: normal;
}

.bottom{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
.rights{
    font-weight: 300;
    font-style: normal;
    color: $white;
    position: absolute;
    bottom: 0;
    padding: rem(45px);
}

//parallax

#parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $bg;
}

.parallax__layer{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    will-change: transform;
}

.parallax__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  object-fit: cover;
  width: 110%;
}

//back auth

.auth{
    transform: rotateY(180deg) translate(50%,-50%);
    backface-visibility: hidden;
}

.auth__title-text{
    margin-bottom: rem(30px);
    font-family: Sansus Webissimo;
    font-weight: normal;
    font-style: normal;
    color: $white;
    position: relative;
    font-size: rem(35px);
    text-transform: uppercase;
    padding: rem(16px) 0;
    text-align: center;

    &::after{
        width: rem(89px);
        height: rem(3px);
        background: $white;
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        transform: translateX(-50%);
    }
}

.auth__inputs{
    padding: 0 rem(30px);
}

.auth__inputs-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(20px);
}

.auth__img{
    width: rem(45px);
    height: rem(45px);
    background: $iconbg;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__icon{
    width: rem(16px);
    height: rem(16px);
    fill: $login;
}

.auth__input{
    flex: 1 1 auto;
    height: rem(45px);
    padding-left: rem(17px);
}

.auth__check {
    position: absolute;
    left: rem(-9999px);
}
.man{
    display: flex;
}
.man>input:checked+.auth__check-icon>.auth__yes-icon{
    width: rem(20px);
    height: rem(20px);
    background: $light-blue;
    fill: $white;
}

.auth__check-icon{
    width: rem(20px);
    height: rem(20px);
    margin-right: rem(10px);
    transition: .2s;
    background: $white;
    position: relative;
}

.auth__yes-icon{
    width: 0;
    height: 0;
    transition: .2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth__check-text, .auth__robot-title, .robot__circle-text{
    color: rgba($white, .8);
}

.auth__robot-title{
    width: 100%;
}

.auth__inputs-column{
    flex-direction: column;
}

.robot__answers{
    display: flex;
    flex-direction: row;
}

.robot{
    display: flex;
    flex-direction: row;
    margin: rem(10px) rem(20px);
}

.robot input{
    position: absolute;
    left: rem(-9999px);
}

.robot__circle{
    display: flex;
}

.robot__circle-outer{
    border-radius: 50%;
    width: rem(20px);
    height: rem(20px);
    margin-right: rem(10px);
    background: $white;
    position: relative;
}

.robot__circle-inner{
    width: 0;
    height: 0;
    border-radius: 50%;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.robot>input:checked+.robot__circle>.robot__circle-outer>.robot__circle-inner{
    background: $light-blue;
    width: rem(8px);
    height: rem(8px);
}


//flip