//vars
$bg:#223b65;
$white: #ffffff;
$dark-blue:#083c96;
$light-blue:#004cd1;
$beige:#f2f0e8;
$dirty:#474b57;
$dark:#1c1f29;
$gray:#dfdcd5;
$iconbg:#f0efe9;
$login:#c4cbcd;


$tablets:768px;
$phones:480px;
$iphone5:320px;



@function rem($px){
    @return $px  / 16px+0rem;
}

@mixin tablets{
    @media screen and (max-width:$tablets){
        @content;
    }
}

@mixin phones{
    @media screen and (max-width:$phones){
        @content;
    }
}

@mixin iphone5{
    @media screen and (max-width:$iphone5){
        @content;
    }
}

*{
    box-sizing: border-box;
}

html{
	font-size: 16px;

	@include tablets{
		font-size: 15px;
	}

	@include phones{
		font-size: 14px;
	}

	@include iphone5{
		font-size: 12px;
	}
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
}

.wrapper{
    width: 100%;
	// height: 100%;
	position: relative;
    overflow: hidden;
    min-height: 100%;
}

.section{
	height: 100%;
    min-height: 650px;
	background-color: $white;
	display: flex;
	// overflow: hidden;
    position: relative;
}
.container{
	width: 95%;
	max-width: 940px;
	min-width: 320px;
	margin: 0 auto;
}

footer{
	position: relative;
	width: 100%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

button{
    cursor: pointer;
}